<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .center-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .content-box {
            border: 2px solid black;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
        }
    </style>
</head>
<body>

<div class="container center-box">
    <div class="content-box">
        <h1> This is the homepage </h1>
        <a href="{% url 'register' %}" class="btn btn-primary my-2"> Register here </a>
        <br>
        <a href="{% url 'my-login' %}" class="btn btn-secondary my-2"> Login here </a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
